/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
/* *********************************************************************************************************************
 * Variables
 */
 /*29b6f6*/
$saturation: 80%;
$primary-color: #29b6f6;
$border-rad: 4px;
$image-text-color: white;
$video-text-color: white;
$font: "Trebuchet MS", Arial, Helvetica, sans-serif;
 
/* *********************************************************************************************************************
 * Default CSS Properties
 */
h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 { 
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 { 
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
p {
    font-style: normal;
	display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
/* **********************************************************************************************************************
 * Grid Styling
 */
.grid-system-section {
	.box {
		text-align: center;
		border: 2px solid black;
	}
}
/* **********************************************************************************************************************
 * Grid Block Size
 */
html,body{
	height:100%;
	font-family: $font;
}
.grid-size-section {
	.box {
		text-align: center;
		border: 2px solid black;
	}
}
[class*="small"] {
	height: 100px;
}
[class*="medium"] {
	height: 200px;
}
[class*="large"] {
	height: 300px;
}
/* **********************************************************************************************************************
 * Typography
 */
.typography-section {
	
	.code-div {
		float: right;
		padding-right: 2px;
		padding-left: 2px;
	}
}
/* **********************************************************************************************************************
 * Text Data Component
 */

.data {
	height: 100%;
	width: 100%;

	.data-indicator {
		height: 45px;
		width: 5px;
		background-color: $primary-color;
	}
	.data-heading {
		margin-left: 15px;
		margin-top: -30px;
		font-size: 20px;
	}
	.data-text {
		font-size: 16px;
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 25px;
		margin-bottom: 25px;
		text-indent: 5%;
	}

}
/* **********************************************************************************************************************
 * Image Component
 */
[class*="image-c"] {
	box-shadow: 2px 2px 10px grey;
	background: url(../images/image_1.png) center/cover ;
	width: 100%;
	margin-bottom: 10px;
	
	.image-overlay {
		height: 50px;
		background: rgba(0, 0, 0, 0.2);
	}

	
	.image-text {
		color: $image-text-color;
		font-size: 16px;
		font-weight: 500;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		line-height: 50px;
		padding-left: 4px; 
	}
}
/* **********************************************************************************************************************
 * Video Component
 */
.video-div {
	width: 100%;
	z-index: auto;
}
.video-footer {
	background-color: $primary-color;
	height: 40px;
	margin-top: -4px;

	.video-text {
		color: $video-text-color;
		font-size: 16px;
		font-weight: 500;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		line-height: 45px;
		width: 100%;
	}
}
/* **********************************************************************************************************************
 * Footer
 */
.footer {
	position: fixed;
	background-color : white;
	height: 50px;
	width: 100%;
	border-top: 2px solid $primary-color;
	bottom:0px;
	text-align: center;
	
	a { 
		text-decoration: none;
		color: black;
	}
	
	p {
		margin-top: -5px;
		font-size: 12px;
	}
	
	i {
		margin-top: -2px;
		color: $primary-color;
	}
}
/* **********************************************************************************************************************
 * Header
 */
/************************** Header **************************/
.header {
	position: fixed;
	background-color : white;
	height: 50px;
	width: 100%;
	border-bottom: 2px solid $primary-color;
}
.header-title {
	position: fixed;
	text-align: center;
	font-size: 18px;
	margin-top: 15px;
}
/************************** Menu Button **************************/
.menushow {
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5em;
	outline: none;
	width: 50px;
	height: 50px;
	position: fixed;
	
	i {
		margin-top: 12px;
	}
}
/************************** Menu Content **************************/
.menucontent {
	position: fixed;
	left: 0px;
	background-color: white;
	width: 100%;
	height: 100%;
	color: black;
	display: none;
	
	.onerow {
		padding-bottom: 10px;
	}
	
	ul {
		margin-left: 60px;

		li {
			padding: 6px;
			font-size: 18px;
		
			i {
				color: $primary-color;
				margin-right: 10px;
			}
		}
	}
}
.menuhide {
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 5em;
		outline: none;
		width: 50px;
		height: 50px;
		margin-top: 15px;
	}
/* **********************************************************************************************************************
 * Form Component
 */
/************************** Button **************************/
.button-div{
	padding: 4px;
}
.button-simple-div {
	text-align: center;
	background-color: white;
	border: 2px solid grey;
    color: grey;
    padding: 10px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
	border-radius: $border-rad;
	outline: none;
		
	&:hover {
		opacity: 0.5;
	}
}
.button-color-div {
	text-align: center;
	background-color: $primary-color;
	border: 2px solid $primary-color;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
	border-radius: $border-rad;
	outline: none;

	&:hover {
		opacity: 0.5;
		border: 2px solid $primary-color;
	}
}
.round-button-div {
	text-align: center;
	background-color: $primary-color;
	border: 2px solid $primary-color;
    color: white;
	height: 45px;
	width: 45px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
	border-radius: $border-rad + 100;
	outline: none;
	box-shadow: 1px 1px 10px grey;
		
	i {
		padding-top: 5px;
	}
	
	&:hover {
		opacity: 0.5;
		border: 2px solid $primary-color;
	}
}
.small-round-button {
	height: 40px;
	width: 40px;
	margin-right: 10px;
	
	i {
		padding-top: 3px;
		padding-left: -1px;
	}
}
.medium-round-button {
	height: 45px;
	width: 45px;
	margin-right: 10px;
	
	i {
		padding-top: 2px;
	}
}
.large-round-button {
	height: 55px;
	width: 55px;
	margin-right: 10px;
	
	i {
		padding-top: 2px;
	}
}
/************************** Checkbox **************************/
.checkbox-div {
	padding-bottom: 2px;
	padding: 4px;
}
input[type="checkbox"] {
	display: none;
}
label {
	cursor: pointer;
}
input[type="checkbox"] + label:before {
	border: 2px solid grey;
	content: "\00a0";
	display: inline-block;
	font: 16px/1em $font;
	height: 16px;
	margin: 0 4px 0 4px;
	vertical-align: top;
	width: 16px; 
}
input[type="checkbox"]:checked + label:before {
	opacity: 0.7;
	color: $primary-color;
	content: "\2714";
	text-align: center;
	border: 2px solid $primary-color;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}
/************************** Radio Button **************************/
.radio-div {
	padding-bottom: 2px;
	padding:4px;
}
input[type="radio"] {
	display: none;
}
label {
	cursor: pointer;
}
input[type="radio"] + label:before {
	border: 2px solid grey;
	content: "\00a0";
	display: inline-block;
	font: 16px/1em $font;
	height: 16px;
	margin: 0 4px 0 4px;
	padding: 0;
	vertical-align: top;
	width: 16px; 
	border-radius: $border-rad;
}
input[type="radio"]:checked + label:before {
	opacity: 0.7;
	color: $primary-color;
	content: "\229A";
	text-align: center;
	border: 2px solid $primary-color;
}
input[type="radio"]:checked + label:after {
  font-weight: bold;
}
/************************** Simple Input **************************/
:webkit-textarea-placeholder {
	font-family: $font;
}
.text-form-div {
	margin: 4px 4px;

	.text-form-input {
		border: 2px solid grey;
		height: 30px;
		border-radius: $border-rad;
		padding: 4px;
		text-decoration: none;
		outline: none;
		width: 100%;
		
		&:hover {
			border: 2px solid $primary-color;
			border-radius: $border-rad;
			padding: 4px;
			text-decoration: none;
		}

	}
}
/************************** Textarea Input **************************/
.textarea-div {
	margin: 4px 4px;
	font-family: $font;
	
	.textarea-data {
		border: 2px solid grey;
		border-radius: $border-rad;
		font-family: $font;
		padding: 4px;
		outline: none;
		width: 100%;
		
		&:hover {
			border: 2px solid $primary-color;
			border-radius: $border-rad;
			padding: 4px;
			text-decoration: none;
		}
	}
}
/************************** Dropdown Input **************************/
.dropdown-div {
	margin: 4px 4px;
	width: 100.75%;
			
	.dropdown-options {
		border: 2px solid grey;
		height: 40px;
		border-radius: $border-rad;
		text-decoration: none;
		outline: none;
		width: 100%;
		
		&:hover {
			border: 2px solid $primary-color;
		}
	}

}
/* **********************************************************************************************************************
 * Tables
 */
table {
	width: 100%;
	overflow-x:auto;
	white-space:nowrap;
	width: 100%;
	display: block;
}
th {
	font-size: large;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 40px;
	width: auto;
	border-bottom: 2px solid $primary-color;
}
td {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	width: auto;
}
/* **********************************************************************************************************************
 * Scroll Bar
 */
::-webkit-scrollbar {
	height: 4px;
	width: 4px
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background: $primary-color;
	border-radius: $border-rad;
}
/* **********************************************************************************************************************
 * Card Component
 */
[class*="card-type"] {
	box-shadow: 2px 2px 10px grey;
	margin-bottom: 10px;
}
[class*="card-image"] {
	background: url(../images/image_1.png) center/cover ;
	width: 100%;
}
/************************** Card Type 1 **************************/
.card-type-1 {
	
	.card-text {
		font: $font;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		text-indent: 5%;
	}
	
	.card-text-heading {
		font: $font;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		color: $primary-color;
	}
	
	.card-header {
		background-color: $primary-color;
		height: 40px;
		
		.card-header-text {
			color: $video-text-color;
			font-size: 16px;
			font-weight: 500;
			text-align: left;
			margin-left: 10px;
			display: inline-block;
			vertical-align: middle;
			line-height: 45px;
			width: 100%;
		}
	
		i {
			margin-top: 8px;
			margin-right: 20px;
			float:right;
		}
	}
	.card-footer {
		background-color: $primary-color;
		height: 40px;
		
		.card-footer-text {
			color: $video-text-color;
			font-size: 16px;
			font-weight: 500;
			text-align: center;
			display: inline-block;
			vertical-align: middle;
			line-height: 45px;
			width: 100%;
		}
	}
	.card-button-simple-div {
		text-align: center;
		background-color: $primary-color;
		border: 2px solid white;
		padding: 4px 8px;
		color: white;;
		text-decoration: none;
		display: inline-block;
		font-size: 14px;
		margin: 6px 10px;
		float: right;
		border-radius: $border-rad;
	}
}
/************************** Card Type 2 **************************/
.card-type-2 {
	
	.card-text {
		font: $font;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		text-indent: 5%;
	}
	
	.card-text-heading {
		font: $font;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		color: $primary-color;
	}
	
	.card-header {
		background-color: white;
		height: 40px;
		
		.card-header-text {
			color: $primary-color;
			font-size: 16px;
			font-weight: 500;
			text-align: left;
			margin-left: 10px;
			display: inline-block;
			vertical-align: middle;
			line-height: 45px;
			width: 100%;
		}
	
		i {
			margin-top: 8px;
			margin-right: 20px;
			float:right;
		}
	}
	.card-footer {
		background-color: white;
		height: 40px;
		border-top: 2px solid $primary-color;
		
		.card-footer-text {
			color: $video-text-color;
			font-size: 16px;
			font-weight: 500;
			text-align: center;
			display: inline-block;
			vertical-align: middle;
			line-height: 45px;
			width: 100%;
		}
	}
	.card-button-simple-div {
		text-align: center;
		background-color: white;
		border: 2px solid $primary-color;
		padding: 4px 8px;
		color: $primary-color;
		text-decoration: none;
		display: inline-block;
		font-size: 14px;
		margin: 6px 10px;
		float: right;
		border-radius: $border-rad;
	}
}
/************************** Card Type 3 **************************/
.card-type-3 {
	
	.card-text {
		font: $font;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		text-indent: 5%;
	}
	
	.card-text-heading {
		font: $font;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 5px;
		color: $primary-color;
		padding-top: 10px;
	}
	
	.card-header {
		background-color: white;
		height: 40px;
		
		.card-header-text {
			color: $primary-color;
			font-size: 16px;
			font-weight: 500;
			text-align: left;
			margin-left: 10px;
			display: inline-block;
			vertical-align: middle;
			line-height: 45px;
			width: 100%;
		}
	
		i {
			margin-top: 8px;
			margin-right: 20px;
			float:right;
		}
	}
	.card-footer {
		background-color: $primary-color;;
		height: 40px;
		border-top: 2px solid white;
		
		.card-footer-text {
			color: white;
			font-size: 16px;
			font-weight: 500;
			text-align: center;
			display: inline-block;
			vertical-align: middle;
			line-height: 45px;
			width: 100%;
		}
	}
	
	.card-button-simple-div {
		text-align: center;
		background-color: $primary-color;
		border: 2px solid white;
		padding: 4px 8px;
		color: white;
		text-decoration: none;
		display: inline-block;
		font-size: 14px;
		margin: 6px 10px;
		float: right;
		border-radius: $border-rad;
	}
}
/************************** Card Type 4 **************************/
.card-type-4 {
	
	.card-text {
		font: $font;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		text-indent: 5%;
	}
	
	.card-text-heading {
		font: $font;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 5px;
		color: $primary-color;
		padding-top: 10px;
	}
	
	.card-header {
		background-color: white;
		height: 40px;
		
		.card-header-text {
			color: $primary-color;
			font-size: 16px;
			font-weight: 500;
			text-align: left;
			margin-left: 10px;
			display: inline-block;
			vertical-align: middle;
			line-height: 45px;
			width: 100%;
		}
	
		i {
			margin-top: 8px;
			margin-right: 20px;
			float:right;
		}
	}
	.card-footer {
		background-color: white;
		height: 40px;
		border-top: 2px solid $primary-color;
		
		.card-footer-text {
			color: $video-text-color;
			font-size: 16px;
			font-weight: 500;
			text-align: center;
			display: inline-block;
			vertical-align: middle;
			line-height: 45px;
			width: 100%;
		}
	}
	.card-button-simple-div {
		text-align: center;
		background-color: white;
		border: 2px solid $primary-color;
		padding: 4px 8px;
		color: $primary-color;
		text-decoration: none;
		display: inline-block;
		font-size: 14px;
		margin: 6px 10px;
		float: right;
		border-radius: $border-rad;
	}
}
/* **********************************************************************************************************************
 * Badge Component
 */
.badge-type-1 {
	
	.badge-data {
		background-color: $primary-color;
		padding: 2px 4px;
		color: white;
		border-radius: $border-rad;
	}
}
.badge-type-2 {
	.badge-data {
		background-color: $primary-color;
		padding: 5px 3px 1px 2px;
		color: white;
		border-radius: $border-rad;
	
		.material-icons {
			color: white;
			font-size: 1em;
		}
	}
}
/* **********************************************************************************************************************
 * Toast Component
 */
#snackbar-1 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: white;
    color: $primary-color;
	border: 2px solid $primary-color;
	text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 49%;
    bottom: 60px;
    font-size: 17px;
}
#snackbar-2 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: $primary-color;
	color: white;
	border: 2px solid white;
    text-align: center;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 49%;
    bottom: 60px;
    font-size: 17px;
}

.show {
    visibility: visible !important;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 60px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 60px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 60px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 60px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/* **********************************************************************************************************************
 * Tooltip Component
 */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
	padding-left: 4px;
    background-color: white;
	width: 120px;
    color: $primary-color;
    text-align: center;
    border-radius: $border-rad;
	border: 2px solid $primary-color;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* **********************************************************************************************************************
 * Tabs Component
 */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-right: none;
	background-color: white;
	width: inherit;
	
	i {
		font-size: 0.8em;
	}
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    border: 2px solid $primary-color;
	border-right: none;
}
ul.tab li:last-child, a:last-child {
	border-right: 2px solid $primary-color;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
	color: white;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: $primary-color;
	color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
	padding-top: 8px;
	padding-left: 10px;
}
/* **********************************************************************************************************************
 * Code Component
 */
.code-div {
	background-color: #f1f1f1;
	overflow-x: auto;
	border: 2px solid $primary-color;
}
/* **********************************************************************************************************************
 * Colours Component
 */
$hues: (primary: $primary-color, secondary: $primary-color + #00ff00, tertiary: $primary-color + #ff0000);
$palettes: ();
@function palette($name, $tint:'base') {
  @return map-get(map-get($palettes, $name), $tint);
}

@each $name,
$primary-color in $hues {
  $palettes: map-merge($palettes, ($name: ( lightest: change-color($primary-color, $lightness: 95%, $saturation: $saturation), lighter: change-color($primary-color, $lightness: 85%, $saturation: $saturation), light: change-color($primary-color, $lightness: 65%, $saturation: $saturation), base: change-color($primary-color, $lightness: 50%, $saturation: $saturation), dark: change-color($primary-color, $lightness: 35%, $saturation: $saturation), darker: change-color($primary-color, $lightness: 15%, $saturation: $saturation), darkest: change-color($primary-color, $lightness: 5%, $saturation: $saturation))));
  .#{$name}-lightest {
    background-color: palette($name, lightest);
  }
  .#{$name}-lighter {
    background-color: palette($name, lighter);
  }
  .#{$name}-light {
    background-color: palette($name, light);
  }
  .#{$name}-base {
    background-color: palette($name);
  }
  .#{$name}-dark {
    background-color: palette($name, dark);
  }
  .#{$name}-darker {
    background-color: palette($name, darker);
  }
  .#{$name}-darkest {
    background-color: palette($name, darkest);
  }
}
.palette {
	h4 {
		text-align: center;
	}
}
.color-div {
	height: 50px;
	border: 2px solid grey;
	margin: 2px;
}