/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* *********************************************************************************************************************
 * Variables
 */
/* *********************************************************************************************************************
 * Default CSS Properties
 */
/* line 20, ../sass/screen.scss */
h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* line 29, ../sass/screen.scss */
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* line 38, ../sass/screen.scss */
h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* line 47, ../sass/screen.scss */
h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* line 55, ../sass/screen.scss */
h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* line 64, ../sass/screen.scss */
h6 {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* line 73, ../sass/screen.scss */
p {
  font-style: normal;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

/* line 81, ../sass/screen.scss */
em {
  font-style: italic;
}

/* line 84, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* *********************************************************************************************************************
 * Main container for all
 */
/* line 90, ../sass/screen.scss */
.onepcssgrid-1000, .onepcssgrid-1200 {
  margin: 0 auto;
  padding: 0 0 0 1%;
}

/* line 95, ../sass/screen.scss */
.onepcssgrid-1200 {
  max-width: 100%;
}

/* line 99, ../sass/screen.scss */
.onepcssgrid-1000 {
  max-width: 1020px;
}

/* line 103, ../sass/screen.scss */
.onerow {
  clear: both;
  padding: 0px;
}

/* *********************************************************************************************************************
 * Common columns definitions
 */
/* line 111, ../sass/screen.scss */
[class*="fluid"] {
  background-color: grey;
  color: white;
  text-align: center;
  border-radius: 4px;
}

/* line 118, ../sass/screen.scss */
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
  float: left;
  margin: 0 3% 0 0;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 2px;
}

/* line 126, ../sass/screen.scss */
.col1.last, .col2.last, .col3.last, .col4.last, .col5.last, .col6.last, .col7.last, .col8.last, .col9.last, .col10.last, .col11.last, .col12 {
  margin: 0;
  margin-bottom: 2px;
  margin-top: 2px;
}

/* line 132, ../sass/screen.scss */
.col1 {
  width: 5.5%;
}

/* line 133, ../sass/screen.scss */
.col2 {
  width: 14%;
}

/* line 134, ../sass/screen.scss */
.col3 {
  width: 22.5%;
}

/* line 135, ../sass/screen.scss */
.col4 {
  width: 31%;
}

/* line 136, ../sass/screen.scss */
.col5 {
  width: 39.5%;
}

/* line 137, ../sass/screen.scss */
.col6 {
  width: 48%;
}

/* line 138, ../sass/screen.scss */
.col7 {
  width: 56.5%;
}

/* line 139, ../sass/screen.scss */
.col8 {
  width: 65%;
}

/* line 140, ../sass/screen.scss */
.col9 {
  width: 73.5%;
}

/* line 141, ../sass/screen.scss */
.col10 {
  width: 82%;
}

/* line 142, ../sass/screen.scss */
.col11 {
  width: 90.5%;
}

/* line 143, ../sass/screen.scss */
.col12 {
  width: 99%;
  margin: 0;
}

/* line 145, ../sass/screen.scss */
.col1 img, .col2 img, .col3 img, .col4 img, .col5 img, .col6 img, .col7 img, .col8 img, .col9 img, .col10 img, .col11 img, .col12 img {
  width: 100%;
  height: auto;
  display: block;
}

/* *********************************************************************************************************************
 * Disable padding left/right 10px if 1024 or gibber - correct percentage math
 */
@media all and (min-width: 1024px) {
  /* line 154, ../sass/screen.scss */
  .onepcssgrid-1000 {
    max-width: 1000px;
  }

  /* line 158, ../sass/screen.scss */
  .onepcssgrid-1000 .onerow {
    padding: 0;
  }
}
/* *********************************************************************************************************************
 * Small devices
 */
@media all and (max-width: 750px) {
  /* line 169, ../sass/screen.scss */
  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
    float: none;
    width: 99%;
  }
}
/* **********************************************************************************************************************
 * Div Size
 */
/* line 177, ../sass/screen.scss */
html, body {
  height: 100%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* line 181, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 184, ../sass/screen.scss */
[class*="small"] {
  height: 100px;
}

/* line 187, ../sass/screen.scss */
[class*="medium"] {
  height: 200px;
}

/* line 190, ../sass/screen.scss */
[class*="large"] {
  height: 300px;
}

/* **********************************************************************************************************************
 * Typography
 */
/* line 198, ../sass/screen.scss */
.typography code {
  background-color: grey;
  padding: 2px;
  font-size: 16px;
  border: 1px solid grey;
  color: white;
  float: right;
  border-radius: 4px;
}

/* line 208, ../sass/screen.scss */
.sample-code {
  background-color: #F5F5F5;
  padding: 20px;
  font-size: 16px;
  border: 1px solid grey;
  color: grey;
  border-radius: 4px;
  width: auto;
}

/* **********************************************************************************************************************
 * Text Data Component
 */
/* line 221, ../sass/screen.scss */
.data {
  height: 100%;
  width: 100%;
}
/* line 225, ../sass/screen.scss */
.data .data-indicator {
  height: 45px;
  width: 5px;
  background-color: #29B6F6;
}
/* line 230, ../sass/screen.scss */
.data .data-heading {
  margin-left: 15px;
  margin-top: -30px;
  font-size: 20px;
}
/* line 235, ../sass/screen.scss */
.data .data-text {
  font-size: 16px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-indent: 5%;
}

/* **********************************************************************************************************************
 * Image Component
 */
/* line 248, ../sass/screen.scss */
[class*="image-div"] {
  box-shadow: 2px 2px 10px grey;
  background: url(../images/image_1.png) center/cover;
  height: 100%;
  width: 100%;
}
/* line 254, ../sass/screen.scss */
[class*="image-div"] .image-overlay {
  height: 50px;
  background: rgba(0, 0, 0, 0.2);
}
/* line 260, ../sass/screen.scss */
[class*="image-div"] .image-text {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  padding-left: 4px;
}

/* **********************************************************************************************************************
 * Video Component
 */
/* line 274, ../sass/screen.scss */
.video-div {
  width: 100%;
  padding: 2px;
}

/* line 278, ../sass/screen.scss */
.video-footer {
  background-color: #29B6F6;
  height: 40px;
  margin-top: -4px;
  width: 100%;
}
/* line 284, ../sass/screen.scss */
.video-footer .video-text {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 45px;
  padding-left: 4px;
  width: 100%;
}

/* **********************************************************************************************************************
 * Form Component
 */
/************************** Button **************************/
/* line 300, ../sass/screen.scss */
.button-simple-div {
  text-align: center;
  background-color: white;
  border: 2px solid grey;
  color: grey;
  padding: 10px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  border-radius: 4px;
  outline: none;
}
/* line 313, ../sass/screen.scss */
.button-simple-div:hover {
  opacity: 0.5;
}

/* line 317, ../sass/screen.scss */
.button-color-div {
  text-align: center;
  background-color: #29B6F6;
  border: 2px solid #29B6F6;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  border-radius: 4px;
  outline: none;
}
/* line 330, ../sass/screen.scss */
.button-color-div:hover {
  opacity: 0.5;
  border: 2px solid #29B6F6;
}

/************************** Checkbox **************************/
/* line 336, ../sass/screen.scss */
.checkbox-div {
  padding-bottom: 2px;
  margin: 0 5px 0 5px;
}

/* line 340, ../sass/screen.scss */
input[type="checkbox"] {
  display: none;
}

/* line 343, ../sass/screen.scss */
label {
  cursor: pointer;
}

/* line 346, ../sass/screen.scss */
input[type="checkbox"] + label:before {
  border: 2px solid grey;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em "Trebuchet MS", Arial, Helvetica, sans-serif;
  height: 16px;
  margin: 0 4px 0 4px;
  vertical-align: top;
  width: 16px;
}

/* line 356, ../sass/screen.scss */
input[type="checkbox"]:checked + label:before {
  opacity: 0.7;
  color: #29B6F6;
  content: "\2714";
  text-align: center;
  border: 2px solid #29B6F6;
}

/* line 363, ../sass/screen.scss */
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

/************************** Radio Button **************************/
/* line 367, ../sass/screen.scss */
.radio-div {
  padding-bottom: 2px;
}

/* line 370, ../sass/screen.scss */
input[type="radio"] {
  display: none;
}

/* line 373, ../sass/screen.scss */
label {
  cursor: pointer;
}

/* line 376, ../sass/screen.scss */
input[type="radio"] + label:before {
  border: 2px solid grey;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em "Trebuchet MS", Arial, Helvetica, sans-serif;
  height: 16px;
  margin: 0 4px 0 4px;
  padding: 0;
  vertical-align: top;
  width: 16px;
  border-radius: 4px;
}

/* line 388, ../sass/screen.scss */
input[type="radio"]:checked + label:before {
  opacity: 0.7;
  color: #29B6F6;
  content: "\229A";
  text-align: center;
  border: 2px solid #29B6F6;
}

/* line 395, ../sass/screen.scss */
input[type="radio"]:checked + label:after {
  font-weight: bold;
}

/************************** Simple Input **************************/
/* line 399, ../sass/screen.scss */
:webkit-textarea-placeholder {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* line 402, ../sass/screen.scss */
.text-form-div {
  font-size: 18px;
  margin: 4px 4px;
}
/* line 406, ../sass/screen.scss */
.text-form-div .text-form-input {
  border: 2px solid grey;
  height: 30px;
  border-radius: 4px;
  padding: 4px;
  text-decoration: none;
  outline: none;
  width: 100%;
}
/* line 415, ../sass/screen.scss */
.text-form-div .text-form-input:hover {
  border: 2px solid #29B6F6;
  border-radius: 4px;
  padding: 4px;
  text-decoration: none;
}

/************************** Textare Input **************************/
/* line 425, ../sass/screen.scss */
.textarea-div {
  margin: 4px 4px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* line 429, ../sass/screen.scss */
.textarea-div .textarea-data {
  border: 2px solid grey;
  border-radius: 4px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 4px;
  outline: none;
  width: 100%;
}
/* line 437, ../sass/screen.scss */
.textarea-div .textarea-data:hover {
  border: 2px solid #29B6F6;
  border-radius: 4px;
  padding: 4px;
  text-decoration: none;
}

/************************** Dropdown Input **************************/
/* line 446, ../sass/screen.scss */
.dropdown-div {
  margin: 4px 4px;
}
/* line 449, ../sass/screen.scss */
.dropdown-div .dropdown-options {
  height: 30px;
  border: 2px solid grey;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  border-radius: 4px;
  outline: none;
}
/* line 457, ../sass/screen.scss */
.dropdown-div .dropdown-options:hover {
  border: 2px solid #29B6F6;
}

/* **********************************************************************************************************************
 * Tables
 */
/* line 466, ../sass/screen.scss */
.table-div {
  padding: 4px 4px;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
}
/* line 472, ../sass/screen.scss */
.table-div td {
  padding-bottom: 10px;
  padding-top: 10px;
  color: black;
}
/* line 478, ../sass/screen.scss */
.table-div th {
  color: black;
  padding-right: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #29B6F6;
}

/* **********************************************************************************************************************
 * Scroll Bar
 */
/* line 491, ../sass/screen.scss */
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

/* line 496, ../sass/screen.scss */
::-webkit-scrollbar-track {
  background: none;
}

/* line 500, ../sass/screen.scss */
::-webkit-scrollbar-thumb {
  background: #29B6F6;
  border-radius: 4px;
}
