/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* *********************************************************************************************************************
 * Variables
 */
/*29b6f6*/
/* *********************************************************************************************************************
 * Default CSS Properties
 */
/* line 23, ../sass/screen.scss */
h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* line 32, ../sass/screen.scss */
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* line 41, ../sass/screen.scss */
h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* line 50, ../sass/screen.scss */
h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* line 58, ../sass/screen.scss */
h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* line 67, ../sass/screen.scss */
h6 {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* line 76, ../sass/screen.scss */
p {
  font-style: normal;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

/* line 84, ../sass/screen.scss */
em {
  font-style: italic;
}

/* line 87, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* **********************************************************************************************************************
 * Grid Styling
 */
/* line 94, ../sass/screen.scss */
.grid-system-section .box {
  text-align: center;
  border: 2px solid black;
}

/* **********************************************************************************************************************
 * Grid Block Size
 */
/* line 102, ../sass/screen.scss */
html, body {
  height: 100%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* line 107, ../sass/screen.scss */
.grid-size-section .box {
  text-align: center;
  border: 2px solid black;
}

/* line 112, ../sass/screen.scss */
[class*="small"] {
  height: 100px;
}

/* line 115, ../sass/screen.scss */
[class*="medium"] {
  height: 200px;
}

/* line 118, ../sass/screen.scss */
[class*="large"] {
  height: 300px;
}

/* **********************************************************************************************************************
 * Typography
 */
/* line 126, ../sass/screen.scss */
.typography-section .code-div {
  float: right;
  padding-right: 2px;
  padding-left: 2px;
}

/* **********************************************************************************************************************
 * Text Data Component
 */
/* line 136, ../sass/screen.scss */
.data {
  height: 100%;
  width: 100%;
}
/* line 140, ../sass/screen.scss */
.data .data-indicator {
  height: 45px;
  width: 5px;
  background-color: #29b6f6;
}
/* line 145, ../sass/screen.scss */
.data .data-heading {
  margin-left: 15px;
  margin-top: -30px;
  font-size: 20px;
}
/* line 150, ../sass/screen.scss */
.data .data-text {
  font-size: 16px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-indent: 5%;
}

/* **********************************************************************************************************************
 * Image Component
 */
/* line 163, ../sass/screen.scss */
[class*="image-c"] {
  box-shadow: 2px 2px 10px grey;
  width: 100%;
  margin-bottom: 10px;
}
/* line 168, ../sass/screen.scss */
[class*="image-c"] .image-overlay {
  height: 50px;
  background: rgba(0, 0, 0, 0.2);
}
/* line 174, ../sass/screen.scss */
[class*="image-c"] .image-text {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  padding-left: 4px;
}

/* **********************************************************************************************************************
 * Video Component
 */
/* line 188, ../sass/screen.scss */
.video-div {
  width: 100%;
  z-index: auto;
}

/* line 192, ../sass/screen.scss */
.video-footer {
  background-color: #29b6f6;
  height: 40px;
  margin-top: -4px;
}
/* line 197, ../sass/screen.scss */
.video-footer .video-text {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 45px;
  width: 100%;
}

/* **********************************************************************************************************************
 * Footer
 */
/* line 211, ../sass/screen.scss */
.footer {
  position: fixed;
  background-color: white;
  height: 50px;
  width: 100%;
  border-top: 2px solid #29b6f6;
  bottom: 0px;
  text-align: center;
}
/* line 220, ../sass/screen.scss */
.footer a {
  text-decoration: none;
  color: black;
}
/* line 225, ../sass/screen.scss */
.footer p {
  margin-top: -5px;
  font-size: 12px;
}
/* line 230, ../sass/screen.scss */
.footer i {
  margin-top: -2px;
  color: #29b6f6;
}

/* **********************************************************************************************************************
 * Header
 */
/************************** Header **************************/
/* line 239, ../sass/screen.scss */
.header {
  position: fixed;
  background-color: white;
  height: 50px;
  width: 100%;
  border-bottom: 2px solid #29b6f6;
}

/* line 246, ../sass/screen.scss */
.header-title {
  position: fixed;
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
}

/************************** Menu Button **************************/
/* line 253, ../sass/screen.scss */
.menushow {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5em;
  outline: none;
  width: 50px;
  height: 50px;
  position: fixed;
}
/* line 263, ../sass/screen.scss */
.menushow i {
  margin-top: 12px;
}

/************************** Menu Content **************************/
/* line 268, ../sass/screen.scss */
.menucontent {
  position: fixed;
  left: 0px;
  background-color: white;
  width: 100%;
  height: 100%;
  color: black;
  display: none;
}
/* line 277, ../sass/screen.scss */
.menucontent .onerow {
  padding-bottom: 10px;
}
/* line 281, ../sass/screen.scss */
.menucontent ul {
  margin-left: 60px;
}
/* line 284, ../sass/screen.scss */
.menucontent ul li {
  padding: 6px;
  font-size: 18px;
}
/* line 288, ../sass/screen.scss */
.menucontent ul li i {
  color: #29b6f6;
  margin-right: 10px;
}

/* line 295, ../sass/screen.scss */
.menuhide {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5em;
  outline: none;
  width: 50px;
  height: 50px;
  margin-top: 15px;
}

/* **********************************************************************************************************************
 * Form Component
 */
/************************** Button **************************/
/* line 309, ../sass/screen.scss */
.button-div {
  padding: 4px;
}

/* line 312, ../sass/screen.scss */
.button-simple-div {
  text-align: center;
  background-color: white;
  border: 2px solid grey;
  color: grey;
  padding: 10px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  border-radius: 4px;
  outline: none;
}
/* line 325, ../sass/screen.scss */
.button-simple-div:hover {
  opacity: 0.5;
}

/* line 329, ../sass/screen.scss */
.button-color-div {
  text-align: center;
  background-color: #29b6f6;
  border: 2px solid #29b6f6;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  border-radius: 4px;
  outline: none;
}
/* line 342, ../sass/screen.scss */
.button-color-div:hover {
  opacity: 0.5;
  border: 2px solid #29b6f6;
}

/* line 347, ../sass/screen.scss */
.round-button-div {
  text-align: center;
  background-color: #29b6f6;
  border: 2px solid #29b6f6;
  color: white;
  height: 45px;
  width: 45px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  border-radius: 104px;
  outline: none;
  box-shadow: 1px 1px 10px grey;
}
/* line 362, ../sass/screen.scss */
.round-button-div i {
  padding-top: 5px;
}
/* line 366, ../sass/screen.scss */
.round-button-div:hover {
  opacity: 0.5;
  border: 2px solid #29b6f6;
}

/* line 371, ../sass/screen.scss */
.small-round-button {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
/* line 376, ../sass/screen.scss */
.small-round-button i {
  padding-top: 3px;
  padding-left: -1px;
}

/* line 381, ../sass/screen.scss */
.medium-round-button {
  height: 45px;
  width: 45px;
  margin-right: 10px;
}
/* line 386, ../sass/screen.scss */
.medium-round-button i {
  padding-top: 2px;
}

/* line 390, ../sass/screen.scss */
.large-round-button {
  height: 55px;
  width: 55px;
  margin-right: 10px;
}
/* line 395, ../sass/screen.scss */
.large-round-button i {
  padding-top: 2px;
}

/************************** Checkbox **************************/
/* line 400, ../sass/screen.scss */
.checkbox-div {
  padding-bottom: 2px;
  padding: 4px;
}

/* line 404, ../sass/screen.scss */
input[type="checkbox"] {
  display: none;
}

/* line 407, ../sass/screen.scss */
label {
  cursor: pointer;
}

/* line 410, ../sass/screen.scss */
input[type="checkbox"] + label:before {
  border: 2px solid grey;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em "Trebuchet MS", Arial, Helvetica, sans-serif;
  height: 16px;
  margin: 0 4px 0 4px;
  vertical-align: top;
  width: 16px;
}

/* line 420, ../sass/screen.scss */
input[type="checkbox"]:checked + label:before {
  opacity: 0.7;
  color: #29b6f6;
  content: "\2714";
  text-align: center;
  border: 2px solid #29b6f6;
}

/* line 427, ../sass/screen.scss */
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

/************************** Radio Button **************************/
/* line 431, ../sass/screen.scss */
.radio-div {
  padding-bottom: 2px;
  padding: 4px;
}

/* line 435, ../sass/screen.scss */
input[type="radio"] {
  display: none;
}

/* line 438, ../sass/screen.scss */
label {
  cursor: pointer;
}

/* line 441, ../sass/screen.scss */
input[type="radio"] + label:before {
  border: 2px solid grey;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em "Trebuchet MS", Arial, Helvetica, sans-serif;
  height: 16px;
  margin: 0 4px 0 4px;
  padding: 0;
  vertical-align: top;
  width: 16px;
  border-radius: 4px;
}

/* line 453, ../sass/screen.scss */
input[type="radio"]:checked + label:before {
  opacity: 0.7;
  color: #29b6f6;
  content: "\229A";
  text-align: center;
  border: 2px solid #29b6f6;
}

/* line 460, ../sass/screen.scss */
input[type="radio"]:checked + label:after {
  font-weight: bold;
}

/************************** Simple Input **************************/
/* line 464, ../sass/screen.scss */
:webkit-textarea-placeholder {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* line 467, ../sass/screen.scss */
.text-form-div {
  margin: 4px 4px;
}
/* line 470, ../sass/screen.scss */
.text-form-div .text-form-input {
  border: 2px solid grey;
  height: 30px;
  border-radius: 4px;
  padding: 4px;
  text-decoration: none;
  outline: none;
  width: 100%;
}
/* line 479, ../sass/screen.scss */
.text-form-div .text-form-input:hover {
  border: 2px solid #29b6f6;
  border-radius: 4px;
  padding: 4px;
  text-decoration: none;
}

/************************** Textarea Input **************************/
/* line 489, ../sass/screen.scss */
.textarea-div {
  margin: 4px 4px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* line 493, ../sass/screen.scss */
.textarea-div .textarea-data {
  border: 2px solid grey;
  border-radius: 4px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 4px;
  outline: none;
  width: 100%;
}
/* line 501, ../sass/screen.scss */
.textarea-div .textarea-data:hover {
  border: 2px solid #29b6f6;
  border-radius: 4px;
  padding: 4px;
  text-decoration: none;
}

/************************** Dropdown Input **************************/
/* line 510, ../sass/screen.scss */
.dropdown-div {
  margin: 4px 4px;
  width: 100.75%;
}
/* line 514, ../sass/screen.scss */
.dropdown-div .dropdown-options {
  border: 2px solid grey;
  height: 40px;
  border-radius: 4px;
  text-decoration: none;
  outline: none;
  width: 100%;
}
/* line 522, ../sass/screen.scss */
.dropdown-div .dropdown-options:hover {
  border: 2px solid #29b6f6;
}

/* **********************************************************************************************************************
 * Tables
 */
/* line 531, ../sass/screen.scss */
table {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  display: block;
}

/* line 538, ../sass/screen.scss */
th {
  font-size: large;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  width: auto;
  border-bottom: 2px solid #29b6f6;
}

/* line 546, ../sass/screen.scss */
td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  width: auto;
}

/* **********************************************************************************************************************
 * Scroll Bar
 */
/* line 555, ../sass/screen.scss */
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

/* line 560, ../sass/screen.scss */
::-webkit-scrollbar-track {
  background: none;
}

/* line 564, ../sass/screen.scss */
::-webkit-scrollbar-thumb {
  background: #29b6f6;
  border-radius: 4px;
}

/* **********************************************************************************************************************
 * Card Component
 */
/* line 571, ../sass/screen.scss */
[class*="card-type"] {
  box-shadow: 2px 2px 10px grey;
  margin-bottom: 10px;
}

/* line 575, ../sass/screen.scss */
[class*="card-image"] {
  background: url(../images/image_1.png) center/cover;
  width: 100%;
}

/************************** Card Type 1 **************************/
/* line 582, ../sass/screen.scss */
.card-type-1 .card-text {
  font: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-indent: 5%;
}
/* line 591, ../sass/screen.scss */
.card-type-1 .card-text-heading {
  font: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #29b6f6;
}
/* line 600, ../sass/screen.scss */
.card-type-1 .card-header {
  background-color: #29b6f6;
  height: 40px;
}
/* line 604, ../sass/screen.scss */
.card-type-1 .card-header .card-header-text {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  line-height: 45px;
  width: 100%;
}
/* line 616, ../sass/screen.scss */
.card-type-1 .card-header i {
  margin-top: 8px;
  margin-right: 20px;
  float: right;
}
/* line 622, ../sass/screen.scss */
.card-type-1 .card-footer {
  background-color: #29b6f6;
  height: 40px;
}
/* line 626, ../sass/screen.scss */
.card-type-1 .card-footer .card-footer-text {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 45px;
  width: 100%;
}
/* line 637, ../sass/screen.scss */
.card-type-1 .card-button-simple-div {
  text-align: center;
  background-color: #29b6f6;
  border: 2px solid white;
  padding: 4px 8px;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 6px 10px;
  float: right;
  border-radius: 4px;
}

/************************** Card Type 2 **************************/
/* line 654, ../sass/screen.scss */
.card-type-2 .card-text {
  font: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-indent: 5%;
}
/* line 663, ../sass/screen.scss */
.card-type-2 .card-text-heading {
  font: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #29b6f6;
}
/* line 672, ../sass/screen.scss */
.card-type-2 .card-header {
  background-color: white;
  height: 40px;
}
/* line 676, ../sass/screen.scss */
.card-type-2 .card-header .card-header-text {
  color: #29b6f6;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  line-height: 45px;
  width: 100%;
}
/* line 688, ../sass/screen.scss */
.card-type-2 .card-header i {
  margin-top: 8px;
  margin-right: 20px;
  float: right;
}
/* line 694, ../sass/screen.scss */
.card-type-2 .card-footer {
  background-color: white;
  height: 40px;
  border-top: 2px solid #29b6f6;
}
/* line 699, ../sass/screen.scss */
.card-type-2 .card-footer .card-footer-text {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 45px;
  width: 100%;
}
/* line 710, ../sass/screen.scss */
.card-type-2 .card-button-simple-div {
  text-align: center;
  background-color: white;
  border: 2px solid #29b6f6;
  padding: 4px 8px;
  color: #29b6f6;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 6px 10px;
  float: right;
  border-radius: 4px;
}

/************************** Card Type 3 **************************/
/* line 727, ../sass/screen.scss */
.card-type-3 .card-text {
  font: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-indent: 5%;
}
/* line 736, ../sass/screen.scss */
.card-type-3 .card-text-heading {
  font: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  color: #29b6f6;
  padding-top: 10px;
}
/* line 745, ../sass/screen.scss */
.card-type-3 .card-header {
  background-color: white;
  height: 40px;
}
/* line 749, ../sass/screen.scss */
.card-type-3 .card-header .card-header-text {
  color: #29b6f6;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  line-height: 45px;
  width: 100%;
}
/* line 761, ../sass/screen.scss */
.card-type-3 .card-header i {
  margin-top: 8px;
  margin-right: 20px;
  float: right;
}
/* line 767, ../sass/screen.scss */
.card-type-3 .card-footer {
  background-color: #29b6f6;
  height: 40px;
  border-top: 2px solid white;
}
/* line 772, ../sass/screen.scss */
.card-type-3 .card-footer .card-footer-text {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 45px;
  width: 100%;
}
/* line 784, ../sass/screen.scss */
.card-type-3 .card-button-simple-div {
  text-align: center;
  background-color: #29b6f6;
  border: 2px solid white;
  padding: 4px 8px;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 6px 10px;
  float: right;
  border-radius: 4px;
}

/************************** Card Type 4 **************************/
/* line 801, ../sass/screen.scss */
.card-type-4 .card-text {
  font: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-indent: 5%;
}
/* line 810, ../sass/screen.scss */
.card-type-4 .card-text-heading {
  font: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  color: #29b6f6;
  padding-top: 10px;
}
/* line 819, ../sass/screen.scss */
.card-type-4 .card-header {
  background-color: white;
  height: 40px;
}
/* line 823, ../sass/screen.scss */
.card-type-4 .card-header .card-header-text {
  color: #29b6f6;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  line-height: 45px;
  width: 100%;
}
/* line 835, ../sass/screen.scss */
.card-type-4 .card-header i {
  margin-top: 8px;
  margin-right: 20px;
  float: right;
}
/* line 841, ../sass/screen.scss */
.card-type-4 .card-footer {
  background-color: white;
  height: 40px;
  border-top: 2px solid #29b6f6;
}
/* line 846, ../sass/screen.scss */
.card-type-4 .card-footer .card-footer-text {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 45px;
  width: 100%;
}
/* line 857, ../sass/screen.scss */
.card-type-4 .card-button-simple-div {
  text-align: center;
  background-color: white;
  border: 2px solid #29b6f6;
  padding: 4px 8px;
  color: #29b6f6;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 6px 10px;
  float: right;
  border-radius: 4px;
}

/* **********************************************************************************************************************
 * Badge Component
 */
/* line 876, ../sass/screen.scss */
.badge-type-1 .badge-data {
  background-color: #29b6f6;
  padding: 2px 4px;
  color: white;
  border-radius: 4px;
}

/* line 884, ../sass/screen.scss */
.badge-type-2 .badge-data {
  background-color: #29b6f6;
  padding: 5px 3px 1px 2px;
  color: white;
  border-radius: 4px;
}
/* line 890, ../sass/screen.scss */
.badge-type-2 .badge-data .material-icons {
  color: white;
  font-size: 1em;
}

/* **********************************************************************************************************************
 * Toast Component
 */
/* line 899, ../sass/screen.scss */
#snackbar-1 {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: white;
  color: #29b6f6;
  border: 2px solid #29b6f6;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 49%;
  bottom: 60px;
  font-size: 17px;
}

/* line 915, ../sass/screen.scss */
#snackbar-2 {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #29b6f6;
  color: white;
  border: 2px solid white;
  text-align: center;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 49%;
  bottom: 60px;
  font-size: 17px;
}

/* line 931, ../sass/screen.scss */
.show {
  visibility: visible !important;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 60px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 60px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 60px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 60px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
/* **********************************************************************************************************************
 * Tooltip Component
 */
/* line 959, ../sass/screen.scss */
.tooltip {
  position: relative;
  display: inline-block;
}

/* line 964, ../sass/screen.scss */
.tooltip .tooltiptext {
  visibility: hidden;
  padding-left: 4px;
  background-color: white;
  width: 120px;
  color: #29b6f6;
  text-align: center;
  border-radius: 4px;
  border: 2px solid #29b6f6;
  padding: 5px 0;
  margin-top: 4px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

/* line 981, ../sass/screen.scss */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* **********************************************************************************************************************
 * Tabs Component
 */
/* line 987, ../sass/screen.scss */
ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-right: none;
  background-color: white;
  width: inherit;
}
/* line 996, ../sass/screen.scss */
ul.tab i {
  font-size: 0.8em;
}

/* Float the list items side by side */
/* line 1002, ../sass/screen.scss */
ul.tab li {
  float: left;
}

/* Style the links inside the list items */
/* line 1005, ../sass/screen.scss */
ul.tab li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  border: 2px solid #29b6f6;
  border-right: none;
}

/* line 1015, ../sass/screen.scss */
ul.tab li:last-child, a:last-child {
  border-right: 2px solid #29b6f6;
}

/* Change background color of links on hover */
/* line 1020, ../sass/screen.scss */
ul.tab li a:hover {
  background-color: #ddd;
  color: white;
}

/* Create an active/current tablink class */
/* line 1026, ../sass/screen.scss */
ul.tab li a:focus, .active {
  background-color: #29b6f6;
  color: white;
}

/* Style the tab content */
/* line 1032, ../sass/screen.scss */
.tabcontent {
  display: none;
  padding-top: 8px;
  padding-left: 10px;
}

/* **********************************************************************************************************************
 * Code Component
 */
/* line 1040, ../sass/screen.scss */
.code-div {
  background-color: #f1f1f1;
  overflow-x: auto;
  border: 2px solid #29b6f6;
}

/* **********************************************************************************************************************
 * Colours Component
 */
/* line 1057, ../sass/screen.scss */
.primary-lightest {
  background-color: #e8f6fc;
}

/* line 1060, ../sass/screen.scss */
.primary-lighter {
  background-color: #bae4f7;
}

/* line 1063, ../sass/screen.scss */
.primary-light {
  background-color: #5ec1ed;
}

/* line 1066, ../sass/screen.scss */
.primary-base {
  background-color: #19a6e6;
}

/* line 1069, ../sass/screen.scss */
.primary-dark {
  background-color: #1274a1;
}

/* line 1072, ../sass/screen.scss */
.primary-darker {
  background-color: #083245;
}

/* line 1075, ../sass/screen.scss */
.primary-darkest {
  background-color: #031117;
}

/* line 1057, ../sass/screen.scss */
.secondary-lightest {
  background-color: #e8fcfc;
}

/* line 1060, ../sass/screen.scss */
.secondary-lighter {
  background-color: #baf7f5;
}

/* line 1063, ../sass/screen.scss */
.secondary-light {
  background-color: #5eede7;
}

/* line 1066, ../sass/screen.scss */
.secondary-base {
  background-color: #19e6dd;
}

/* line 1069, ../sass/screen.scss */
.secondary-dark {
  background-color: #12a19b;
}

/* line 1072, ../sass/screen.scss */
.secondary-darker {
  background-color: #084542;
}

/* line 1075, ../sass/screen.scss */
.secondary-darkest {
  background-color: #031716;
}

/* line 1057, ../sass/screen.scss */
.tertiary-lightest {
  background-color: #fce8fa;
}

/* line 1060, ../sass/screen.scss */
.tertiary-lighter {
  background-color: #f7baf0;
}

/* line 1063, ../sass/screen.scss */
.tertiary-light {
  background-color: #ed5edc;
}

/* line 1066, ../sass/screen.scss */
.tertiary-base {
  background-color: #e619cc;
}

/* line 1069, ../sass/screen.scss */
.tertiary-dark {
  background-color: #a1128f;
}

/* line 1072, ../sass/screen.scss */
.tertiary-darker {
  background-color: #45083d;
}

/* line 1075, ../sass/screen.scss */
.tertiary-darkest {
  background-color: #170314;
}

/* line 1080, ../sass/screen.scss */
.palette h4 {
  text-align: center;
}

/* line 1084, ../sass/screen.scss */
.color-div {
  height: 50px;
  border: 2px solid grey;
  margin: 2px;
}

/* **********************************************************************************************************************
 * Progress Bar Component
 */
/* line 1092, ../sass/screen.scss */
progress[value] {
  width: 100%;
  -webkit-appearance: none;
  background-color: white;
  appearance: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* line 1100, ../sass/screen.scss */
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 1px 1px 5px grey;
}

/* line 1106, ../sass/screen.scss */
.progress-bar-1 progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, #29b6f6, #29b6f6), -webkit-linear-gradient(left, #29b6f6, #f44);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

/* line 1119, ../sass/screen.scss */
.progress-bar-2 progress[value]::-webkit-progress-value {
  background-color: #29b6f6;
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

/* **********************************************************************************************************************
 * Lists Component
 */
/* line 1128, ../sass/screen.scss */
ul {
  list-style-type: circle;
  margin-left: 20px;
  margin-top: 20px;
}
/* line 1133, ../sass/screen.scss */
ul li {
  padding-bottom: 10px;
}

/* line 1137, ../sass/screen.scss */
ol {
  list-style-type: decimal;
  margin-left: 20px;
  margin-top: 20px;
}
/* line 1142, ../sass/screen.scss */
ol li {
  padding-bottom: 10px;
}

/* line 1146, ../sass/screen.scss */
dl {
  margin-left: 20px;
  margin-top: 20px;
}
/* line 1150, ../sass/screen.scss */
dl dt {
  padding-bottom: 10px;
}
/* line 1154, ../sass/screen.scss */
dl dd {
  padding-bottom: 10px;
  padding-left: 20px;
}
