/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, E:/Shubham Naik/Apps/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* *********************************************************************************************************************
 * Variables
 */
/* *********************************************************************************************************************
 * Default CSS Properties
 */
/* line 20, ../sass/screen.scss */
h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* line 29, ../sass/screen.scss */
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* line 38, ../sass/screen.scss */
h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* line 47, ../sass/screen.scss */
h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* line 55, ../sass/screen.scss */
h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* line 64, ../sass/screen.scss */
h6 {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* line 73, ../sass/screen.scss */
p {
  font-style: normal;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

/* line 81, ../sass/screen.scss */
em {
  font-style: italic;
}

/* line 84, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* **********************************************************************************************************************
 * Grid Styling
 */
/* line 91, ../sass/screen.scss */
.grid-system-section .box {
  text-align: center;
  border: 2px solid black;
}

/* **********************************************************************************************************************
 * Grid Block Size
 */
/* line 99, ../sass/screen.scss */
html, body {
  height: 100%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* line 104, ../sass/screen.scss */
.grid-size-section .box {
  text-align: center;
  border: 2px solid black;
}

/* line 109, ../sass/screen.scss */
[class*="small"] {
  height: 100px;
}

/* line 112, ../sass/screen.scss */
[class*="medium"] {
  height: 200px;
}

/* line 115, ../sass/screen.scss */
[class*="large"] {
  height: 300px;
}

/* **********************************************************************************************************************
 * Typography
 */
/* line 123, ../sass/screen.scss */
.typography-section code {
  background-color: grey;
  padding: 2px;
  font-size: 16px;
  border: 1px solid grey;
  color: white;
  float: right;
  border-radius: 4px;
}

/* line 133, ../sass/screen.scss */
.sample-code {
  background-color: #F5F5F5;
  padding: 20px;
  font-size: 16px;
  border: 1px solid grey;
  color: grey;
  border-radius: 4px;
}

/* **********************************************************************************************************************
 * Text Data Component
 */
/* line 145, ../sass/screen.scss */
.data {
  height: 100%;
  width: 100%;
}
/* line 149, ../sass/screen.scss */
.data .data-indicator {
  height: 45px;
  width: 5px;
  background-color: #29B6F6;
}
/* line 154, ../sass/screen.scss */
.data .data-heading {
  margin-left: 15px;
  margin-top: -30px;
  font-size: 20px;
}
/* line 159, ../sass/screen.scss */
.data .data-text {
  font-size: 16px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-indent: 5%;
}

/* **********************************************************************************************************************
 * Image Component
 */
/* line 172, ../sass/screen.scss */
[class*="image-c"] {
  box-shadow: 2px 2px 10px grey;
  background: url(../images/image_1.png) center/cover;
  width: 100%;
  margin-bottom: 10px;
}
/* line 178, ../sass/screen.scss */
[class*="image-c"] .image-overlay {
  height: 50px;
  background: rgba(0, 0, 0, 0.2);
}
/* line 184, ../sass/screen.scss */
[class*="image-c"] .image-text {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  padding-left: 4px;
}

/* **********************************************************************************************************************
 * Video Component
 */
/* line 198, ../sass/screen.scss */
.video-div {
  width: 100%;
  z-index: auto;
}

/* line 202, ../sass/screen.scss */
.video-footer {
  background-color: #29B6F6;
  height: 40px;
  margin-top: -4px;
}
/* line 207, ../sass/screen.scss */
.video-footer .video-text {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 45px;
  width: 100%;
}

/* **********************************************************************************************************************
 * Header
 */
/************************** Header **************************/
/* line 222, ../sass/screen.scss */
.header {
  position: fixed;
  background-color: white;
  height: 50px;
  width: 100%;
  border-bottom: 2px solid #29B6F6;
}

/* line 229, ../sass/screen.scss */
.header-title {
  position: fixed;
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
}

/************************** Menu Button **************************/
/* line 236, ../sass/screen.scss */
.menushow {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5em;
  outline: none;
  width: 50px;
  height: 50px;
  position: fixed;
}
/* line 246, ../sass/screen.scss */
.menushow i {
  margin-top: 12px;
}

/************************** Menu Content **************************/
/* line 251, ../sass/screen.scss */
.menucontent {
  position: fixed;
  left: 0px;
  background-color: white;
  width: 100%;
  height: 100%;
  color: black;
  display: none;
}
/* line 260, ../sass/screen.scss */
.menucontent .onerow {
  padding-bottom: 10px;
}
/* line 264, ../sass/screen.scss */
.menucontent ul {
  margin-left: 60px;
}
/* line 267, ../sass/screen.scss */
.menucontent ul li {
  padding: 6px;
  font-size: 18px;
}
/* line 271, ../sass/screen.scss */
.menucontent ul li i {
  color: #29B6F6;
  margin-right: 10px;
}

/* line 278, ../sass/screen.scss */
.menuhide {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5em;
  outline: none;
  width: 50px;
  height: 50px;
  margin-top: 15px;
}

/* **********************************************************************************************************************
 * Form Component
 */
/************************** Button **************************/
/* line 292, ../sass/screen.scss */
.button-div {
  padding: 4px;
}

/* line 295, ../sass/screen.scss */
.button-simple-div {
  text-align: center;
  background-color: white;
  border: 2px solid grey;
  color: grey;
  padding: 10px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  border-radius: 4px;
  outline: none;
}
/* line 308, ../sass/screen.scss */
.button-simple-div:hover {
  opacity: 0.5;
}

/* line 312, ../sass/screen.scss */
.button-color-div {
  text-align: center;
  background-color: #29B6F6;
  border: 2px solid #29B6F6;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  border-radius: 4px;
  outline: none;
}
/* line 325, ../sass/screen.scss */
.button-color-div:hover {
  opacity: 0.5;
  border: 2px solid #29B6F6;
}

/* line 330, ../sass/screen.scss */
.round-button-div {
  text-align: center;
  background-color: #29B6F6;
  border: 2px solid #29B6F6;
  color: white;
  height: 45px;
  width: 45px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  border-radius: 104px;
  outline: none;
  box-shadow: 1px 1px 10px grey;
}
/* line 345, ../sass/screen.scss */
.round-button-div i {
  padding-top: 5px;
}
/* line 349, ../sass/screen.scss */
.round-button-div:hover {
  opacity: 0.5;
  border: 2px solid #29B6F6;
}

/* line 354, ../sass/screen.scss */
.small-round-button {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
/* line 359, ../sass/screen.scss */
.small-round-button i {
  padding-top: 3px;
  padding-left: -1px;
}

/* line 364, ../sass/screen.scss */
.medium-round-button {
  height: 45px;
  width: 45px;
  margin-right: 10px;
}
/* line 369, ../sass/screen.scss */
.medium-round-button i {
  padding-top: 2px;
}

/* line 373, ../sass/screen.scss */
.large-round-button {
  height: 55px;
  width: 55px;
  margin-right: 10px;
}
/* line 378, ../sass/screen.scss */
.large-round-button i {
  padding-top: 2px;
}

/************************** Checkbox **************************/
/* line 383, ../sass/screen.scss */
.checkbox-div {
  padding-bottom: 2px;
  padding: 4px;
}

/* line 387, ../sass/screen.scss */
input[type="checkbox"] {
  display: none;
}

/* line 390, ../sass/screen.scss */
label {
  cursor: pointer;
}

/* line 393, ../sass/screen.scss */
input[type="checkbox"] + label:before {
  border: 2px solid grey;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em "Trebuchet MS", Arial, Helvetica, sans-serif;
  height: 16px;
  margin: 0 4px 0 4px;
  vertical-align: top;
  width: 16px;
}

/* line 403, ../sass/screen.scss */
input[type="checkbox"]:checked + label:before {
  opacity: 0.7;
  color: #29B6F6;
  content: "\2714";
  text-align: center;
  border: 2px solid #29B6F6;
}

/* line 410, ../sass/screen.scss */
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

/************************** Radio Button **************************/
/* line 414, ../sass/screen.scss */
.radio-div {
  padding-bottom: 2px;
  padding: 4px;
}

/* line 418, ../sass/screen.scss */
input[type="radio"] {
  display: none;
}

/* line 421, ../sass/screen.scss */
label {
  cursor: pointer;
}

/* line 424, ../sass/screen.scss */
input[type="radio"] + label:before {
  border: 2px solid grey;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em "Trebuchet MS", Arial, Helvetica, sans-serif;
  height: 16px;
  margin: 0 4px 0 4px;
  padding: 0;
  vertical-align: top;
  width: 16px;
  border-radius: 4px;
}

/* line 436, ../sass/screen.scss */
input[type="radio"]:checked + label:before {
  opacity: 0.7;
  color: #29B6F6;
  content: "\229A";
  text-align: center;
  border: 2px solid #29B6F6;
}

/* line 443, ../sass/screen.scss */
input[type="radio"]:checked + label:after {
  font-weight: bold;
}

/************************** Simple Input **************************/
/* line 447, ../sass/screen.scss */
:webkit-textarea-placeholder {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* line 450, ../sass/screen.scss */
.text-form-div {
  margin: 4px 4px;
}
/* line 453, ../sass/screen.scss */
.text-form-div .text-form-input {
  border: 2px solid grey;
  height: 30px;
  border-radius: 4px;
  padding: 4px;
  text-decoration: none;
  outline: none;
  width: 100%;
}
/* line 462, ../sass/screen.scss */
.text-form-div .text-form-input:hover {
  border: 2px solid #29B6F6;
  border-radius: 4px;
  padding: 4px;
  text-decoration: none;
}

/************************** Textarea Input **************************/
/* line 472, ../sass/screen.scss */
.textarea-div {
  margin: 4px 4px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* line 476, ../sass/screen.scss */
.textarea-div .textarea-data {
  border: 2px solid grey;
  border-radius: 4px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 4px;
  outline: none;
  width: 100%;
}
/* line 484, ../sass/screen.scss */
.textarea-div .textarea-data:hover {
  border: 2px solid #29B6F6;
  border-radius: 4px;
  padding: 4px;
  text-decoration: none;
}

/************************** Dropdown Input **************************/
/* line 493, ../sass/screen.scss */
.dropdown-div {
  margin: 4px 4px;
  width: 100.75%;
}
/* line 497, ../sass/screen.scss */
.dropdown-div .dropdown-options {
  border: 2px solid grey;
  height: 40px;
  border-radius: 4px;
  text-decoration: none;
  outline: none;
  width: 100%;
}
/* line 505, ../sass/screen.scss */
.dropdown-div .dropdown-options:hover {
  border: 2px solid #29B6F6;
}

/* **********************************************************************************************************************
 * Tables
 */
/* line 514, ../sass/screen.scss */
table {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  display: block;
}

/* line 521, ../sass/screen.scss */
th {
  font-size: large;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  width: auto;
  border-bottom: 2px solid #29B6F6;
}

/* line 529, ../sass/screen.scss */
td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  width: auto;
}

/* **********************************************************************************************************************
 * Scroll Bar
 */
/* line 538, ../sass/screen.scss */
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

/* line 543, ../sass/screen.scss */
::-webkit-scrollbar-track {
  background: none;
}

/* line 547, ../sass/screen.scss */
::-webkit-scrollbar-thumb {
  background: #29B6F6;
  border-radius: 4px;
}
