/* Define In classes here */

.slideInLeft
{
    -moz-animation-name: slideInLeft;
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}

.slideInRight
{
    -moz-animation-name: slideInRight;
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}

.slideInTop
{
    -moz-animation-name: slideInTop;
    -webkit-animation-name: slideInTop;
    animation-name: slideInTop;
}

.slideInBottom
{
    -moz-animation-name: slideInBottom;
    -webkit-animation-name: slideInBottom;
    animation-name: slideInBottom;
}





/* Define Out classes here */

.slideOutLeft
{
    -moz-animation-name: slideOutLeft;
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
}

.slideOutRightAlert
{
    -moz-animation-name: slideOutRightAlert;
    -webkit-animation-name: slideOutRightAlert;
    animation-name: slideOutRightAlert;
}

.slideOutTop
{
    -moz-animation-name: slideOutTop;
    -webkit-animation-name: slideOutTop;
    animation-name: slideOutTop;
}

.slideOutBottom
{
    -moz-animation-name: slideOutBottom;
    -webkit-animation-name: slideOutBottom;
    animation-name: slideOutBottom;
}



/* Define In transitions here */
@-moz-keyframes slideInLeft
{
    from
    {
        left: -100em;
    }

    to
    {
        left: 0.5em;
    }
}

@-webkit-keyframes slideInLeft
{
    from
    {
        left: -100em;
    }

    to
    {
        left: 0.5em;
    }
}

@keyframes slideInLeft
{
    from
    {
        left: -100em;
    }

    to
    {
        left: 0.5em;
    }
}

@-moz-keyframes slideInRight
{
    from
    {
        right: -100em;
    }

    to
    {
        right: 0.5em;
    }
}


@-webkit-keyframes slideInRight
{
    from
    {
        right: -100em;
    }

    to
    {
        right: 0.5em;
    }
}

@keyframes slideInRight
{
    from
    {
        right: -100em;
    }

    to
    {
        right: 0.5em;
    }
}

@-moz-keyframes slideInTop
{
    from
    {
        top: -100em;
    }

    to
    {
        top: 0.5em;
    }
}
@-webkit-keyframes slideInTop
{
    from
    {
        top: -100em;
    }

    to
    {
        top: 0.5em;
    }
}

@keyframes slideInTop
{
    from
    {
        top: -100em;
    }

    to
    {
        top: 0.5em;
    }
}

@-moz-keyframes slideInBottom
{
    from
    {
        bottom: -100em;
    }

    to
    {
        bottom: 0.5em;
    }
}
@-webkit-keyframes slideInBottom
{
    from
    {
        bottom: -100em;
    }

    to
    {
        bottom: 0.5em;
    }
}

@keyframes slideInBottom
{
    from
    {
        bottom: -100em;
    }

    to
    {
        bottom: 0.5em;
    }
}






/* Define Out transitions here */
@-moz-keyframes slideOutLeft
{
    from
    {
        left: 0em;
    }

    to
    {
        left: -100em;
    }
}
@-webkit-keyframes slideOutLeft
{
    from
    {
        left: 0em;
    }

    to
    {
        left: -100em;
    }
}

@keyframes slideOutLeft
{
    from
    {
        left: 0em;
    }

    to
    {
        left: -100em;
    }
}

@-moz-keyframes slideOutRightAlert
{
    from
    {
        right: 0em;
    }

    to
    {
        right: -100em;
    }
}

@-webkit-keyframes slideOutRightAlert
{
    from
    {
        right: 0em;
    }

    to
    {
        right: -100em;
    }
}

@keyframes slideOutRightAlert
{
    from
    {
        right: 0em;
    }

    to
    {
        right: -100em;
    }
}

@-moz-keyframes slideOutTop
{
    from
    {
        top: 0em;
    }

    to
    {
        top: -100em;
    }
}

@-webkit-keyframes slideOutTop
{
    from
    {
        top: 0em;
    }

    to
    {
        top: -100em;
    }
}

@keyframes slideOutTop
{
    from
    {
        top: 0em;
    }

    to
    {
        top: -100em;
    }
}

@-moz-keyframes slideOutBottom
{
    from
    {
        bottom: 0em;
    }

    to
    {
        bottom: -100em;
    }
}
@-webkit-keyframes slideOutBottom
{
    from
    {
        bottom: 0em;
    }

    to
    {
        bottom: -100em;
    }
}

@keyframes slideOutBottom
{
    from
    {
        bottom: 0em;
    }

    to
    {
        bottom: -100em;
    }
}
