<!-- this contains only the body of the page without the body tags-->
	<h1>THis is the body in the index.tmpl</h1>	
	<h1>THis is the body in the index.tmpl</h1>	
	<h1>THis is the body in the index.tmpl</h1>	
	<h1>THis is the body in the index.tmpl</h1>	
	<h1>THis is the body in the index.tmpl</h1>	
	<h1>THis is the body in the index.tmpl</h1>	

