/* *********************************************************************************************************************
 * Main container for all
 */
.onepcssgrid-1000, .onepcssgrid-1200 {
	margin: 0 auto;
	padding: 0 0 0 1%; /* THAT'S THE NAME ;) */
}

.onepcssgrid-1200 {
	max-width: 100%;
}

.onepcssgrid-1000 {
	max-width: 1020px;
}

.onerow {
	clear: both;
	padding: 0px;
}

/* *********************************************************************************************************************
 * Common columns definitions
 */
[class*="fluid"] {
	background-color: grey;	
	color: white;
	text-align: center;
	border-radius: 4px;
}
 
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
	float: left;
	margin: 0 3% 0 0;
	margin-bottom: 2px;
	margin-top: 2px;
	border: px solid grey;
	padding: 2px;
}

.col1.last, .col2.last, .col3.last, .col4.last, .col5.last, .col6.last, .col7.last, .col8.last, .col9.last, .col10.last, .col11.last, .col12 {
	margin: 0;
	margin-bottom: 2px;
	margin-top: 2px;
}

.col1 { width: 5.5%; }
.col2 { width: 14%; }
.col3 { width: 22.5%; }
.col4 { width: 31%; }
.col5 { width: 39.5%; }
.col6 { width: 48%; }
.col7 { width: 56.5%; }
.col8 { width: 65%; }
.col9 { width: 73.5%; }
.col10 { width: 82%; }
.col11 { width: 90.5%; }
.col12 { width: 99%; margin: 0; }

.col1 img, .col2 img, .col3 img, .col4 img, .col5 img, .col6 img, .col7 img, .col8 img, .col9 img, .col10 img, .col11 img, .col12 img {
	width: 100%;
	height: auto;
	display: block;
}





/* *********************************************************************************************************************
 * Disable padding left/right 10px if I'm 1024 or gibber - correct percentage math
 */
@media all and (min-width: 1024px) {
	.onepcssgrid-1000 {
		max-width: 1000px;
	}

	.onepcssgrid-1000 .onerow {
		padding: 0;
	}
}





/* *********************************************************************************************************************
 * Small devices
 */
@media all and (max-width: 750px) {
	.onerow {
	}

	.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
		float: none;
		width: 99%;
	}
}
/* **********************************************************************************************************************
 * Div Size
 */
html,body{
	height:100%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
[class*="small"] {
	height: 100px;
}
[class*="medium"] {
	height: 200px;
}
[class*="large"] {
	height: 300px;
}
/* **********************************************************************************************************************
 * Image Component
 */
.image-div-1 {
	background: url(../images/image_1.png) center/cover ;
	height: 100%;
	width: 100%;
}
.image-div-2 {
	background: url(../images/image_2.png) center/cover ;
	height: 100%;
	width: 100%;
}
.image-div-3 {
	background: url(../images/image_3.png) center/cover ;
	height: 100%;
	width: 100%;
}
[class*="image-div"] {
	box-shadow: 2px 2px 10px #888888;
}
.image-overlay {
	height: 50px;
	background: rgba(0, 0, 0, 0.2);
}
.image-text {
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	line-height: 50px;
	padding-left: 4px; 
}
/* **********************************************************************************************************************
 * Text Data Component
 */

.data {
	height: 100%;
	width: 100%;
}	
.data-indicator {
	height: 45px;
	width: 5px;
	background-color: #29B6F6;
}
.data-heading {
	margin-left: 15px;
	margin-top: -30px;
	font-size: 20px;
}
.data-text {
	font-size: 16px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 25px;
	margin-bottom: 25px;
	text-indent: 5%;
}
/* **********************************************************************************************************************
 * Form Component
 */
/* Button */
.button-simple-div {
	text-align: center;
	background-color: white;
	border: 2px solid grey;
    color: grey;
    padding: 10px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
	border-radius: 4px;
	outline: none;
}
.button-simple-div:hover {
	background-color: #B0BEC5;
	color: white;
}
.button-color-div {
	text-align: center;
	background-color: #29B6F6;
	border: 2px solid #29B6F6;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
	border-radius: 4px;
	outline: none;
}
.button-color-div:hover {
	background-color: #039BE5;
	border: 2px solid #039BE5;
}
/* Checkbox */
.checkbox-div {
	padding-bottom: 2px;
	margin: 0 5px 0 5px;
}
input[type="checkbox"] {
	display: none;
}
label {
	cursor: pointer;
}
input[type="checkbox"] + label:before {
	border: 2px solid grey;
	content: "\00a0";
	display: inline-block;
	font: 16px/1em "Trebuchet MS", Arial, Helvetica, sans-serif;
	height: 16px;
	margin: 0 4px 0 4px;
	vertical-align: top;
	width: 16px; 
}
input[type="checkbox"]:checked + label:before {
	background: #039BE5;
	color: white;
	content: "\2714";
	text-align: center;
	border: 2px solid #039BE5;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}
/* Radio Button */
.radio-div {
	padding-bottom: 2px;
}
input[type="radio"] {
	display: none;
}
label {
	cursor: pointer;
}
input[type="radio"] + label:before {
	border: 2px solid grey;
	content: "\00a0";
	display: inline-block;
	font: 16px/1em "Trebuchet MS", Arial, Helvetica, sans-serif;
	height: 16px;
	margin: 0 4px 0 4px;
	padding: 0;
	vertical-align: top;
	width: 16px; 
	border-radius: 10px;
}
input[type="radio"]:checked + label:before {
	background: #039BE5;
	color: white;
	content: "\229A";
	text-align: center;
	border: 2px solid #039BE5;
}
input[type="radio"]:checked + label:after {
  font-weight: bold;
}
/* Form Data */
:webkit-textarea-placeholder {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.text-form-div {
	font-size: 18px;
	margin: 4px 4px;
}
.text-form-input {
	border: 2px solid grey;
	height: 30px;
	border-radius: 4px;
	padding: 4px;
	text-decoration: none;
	outline: none;
	width: 100%;
}
.text-form-input:hover {
	border: 2px solid #29B6F6;
	border-radius: 4px;
	padding: 4px;
	text-decoration: none;
}
/* Textarea */
.textarea-div {
	margin: 4px 4px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	
}
.textarea-data {
	border: 2px solid grey;
	border-radius: 4px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 4px;
	outline: none;
	width: 100%
}
.textarea-data:hover {
	border: 2px solid #29B6F6;
	border-radius: 4px;
	padding: 4px;
	text-decoration: none;
}
/* Dropdown */
.dropdown-div {
	margin: 4px 4px;
}
.dropdown-options {
	height: 30px;
	border: 2px solid grey;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 100%;
	border-radius: 4px;
	outline: none;
}
/* **********************************************************************************************************************
 * Video Component
 */
.video-div {
	width: 100%;
	padding: 2px;
}
.video-footer {
	background-color: #29B6F6;
	height: 40px;
	margin-top: -4px;
	width: 100%;
}
.video-text {
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	line-height: 45px;
	padding-left: 4px;
	width: 100%;
}
/* **********************************************************************************************************************
 * Typography
 */
.typography {
	padding-left: 4px;
}
code {
	background-color: #ECEFF1;
	padding:  2px;
	font-size: 16px;
	border: 1px solid grey;
	color: grey;
	float: right;
	border-radius: 4px;
}
/* **********************************************************************************************************************
 * Tables and Scroll Bar
 */
.table-div {
	padding: 4px 4px;
	overflow-x:auto;
	white-space:nowrap;
}
td {
	padding-bottom: 10px;
	padding-top: 10px;
	color: black;
}
th {
	color: black;
	padding-right: px;
	padding-bottom: 10px;
	border-bottom: 1px solid #29B6F6;
}
tr {
}
::-webkit-scrollbar {
	height: 4px;
	width: 4px
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background: #29B6F6;
}
